altair==5.1.1
asgiref==3.7.2
attrs==23.1.0
bcrypt==4.0.1
blinker==1.6.2
# boltons @ file:///work/ci_py311/boltons_1677685195580/work
brotlipy==0.7.0
CacheControl==0.13.1
cachetools==5.3.1
certifi==2023.7.22
# cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer==2.1.1
click==8.1.7
contourpy==1.1.1
cycler==0.11.0
dj-database-url==2.1.0
Django==4.2.6
extra-streamlit-components==0.1.60
# firebase==4.0.1
# firebase-admin==6.2.0
Flask==3.0.0
Flask-WTF==1.2.1
fonttools==4.42.1
gcloud==0.18.3
gitdb==4.0.10
GitPython==3.1.36
# google-api-core==2.11.1
# google-api-python-client==2.103.0
# google-auth==2.23.3
# google-auth-httplib2==0.1.1
# google-cloud-core==2.3.3
# google-cloud-firestore==2.12.0
# google-cloud-storage==2.12.0
# google-crc32c==1.5.0
# google-resumable-media==2.6.0
# googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
gunicorn==21.2.0
httplib2==0.22.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jws==0.1.3
kiwisolver==1.4.5
libmambapy @ file:///croot/mamba-split_1685993156657/work/libmambapy
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
mdurl==0.1.2
msgpack==1.0.7
numpy==1.26.0
oauth2client==4.1.3
packaging @ file:///croot/packaging_1678965309396/work
pandas==2.1.0
paretochart==1.0
Pillow==9.5.0
pluggy @ file:///work/ci_py311/pluggy_1676822818071/work
proto-plus==1.22.3
protobuf==4.24.3
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycosat @ file:///work/ci_py311/pycosat_1676838522308/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.19.0
pydeck==0.8.0
Pygments==2.16.1
PyJWT==2.8.0
Pympler==1.0.1
pyOpenSSL @ file:///croot/pyopenssl_1678965284384/work
pyparsing==3.1.1
Pyrebase==3.0.27
Pyrebase4==4.7.1
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pyspc==0.4
python-dateutil==2.8.2
python-jwt==2.0.1
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
referencing==0.30.2
requests==2.29.0
requests-toolbelt==0.10.1
rich==13.5.2
rpds-py==0.10.3
rsa==4.9
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
scipy==1.11.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sqlparse==0.4.4
streamlit==1.26.0
streamlit-authenticator==0.2.3
tenacity==8.2.3
toml==0.10.2
toolz @ file:///work/ci_py311/toolz_1676827522705/work
tornado==6.3.3
tqdm @ file:///croot/tqdm_1679561862951/work
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
uritemplate==4.1.1
urllib3==1.26.16
validators==0.22.0
watchdog==3.0.0
Werkzeug==3.0.0
whitenoise==6.6.0
WTForms==3.1.0
zipp==3.16.2
zstandard @ file:///work/ci_py311_2/zstandard_1679339489613/work
